.page-Style
{
  display: flex;
  background-color: #282c34;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.header-Style
{
   
    display: flex;
    background-color: #1a1d24;
    height: 50px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: space-around;
    flex-grow : 1
}

.button-Style
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 500;
    font-size: 12px;

    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.bottom-Style
{
    display: flex;
    background-color: #282c34;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 50;
}

.project-Style
{
    display: flex;
    background-color: #495464;
    /*flex-grow: 0.3;*/
    flex-basis: 80px;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 20px;
}

.rooms-Style
{
    display: flex;
    background-color: #313642;
    /*flex-grow: 1.3;*/
    flex-basis: 150px;
    border-style: solid;
    border-width: 0.1px;
    border-color: black;
    flex-direction: column;
    text-align: center;
    color: white;
}

.taskWork-Style
{
    display: flex;
    background-color: #495464;
    flex-direction: column;
   /* flex-grow: 10;*/
   /* flex-basis: 1200px; */
   width: 100%;
}

.navBar-Style
{
    display: flex;
    flex-direction: row;
    background-color: #313642;
    flex-basis: 50px;
    justify-content: space-around;
}

.newTaskButton {
    align-self: flex-start;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 40px;
}

.work-Style{
    display: flex;
    background-color: #495464;
    flex-basis: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.workspace-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectButton-Style
{
    background-color: #aaafba;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.projectButton-Style-select
{
    background-color: lightblue;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.projectAddButton-Style
{
   /* background-color: #aaafba;
    border-radius: 40px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
  /*  height: 50px;
    width: 50px; */
}

.roomButton-Style
{
    background-color: #313642;
    height: 75px;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
    border-width: 0.1px;
    border-style: solid;
    border-color:darkcyan;
    border-radius: 5px;
    
}

.roomButton-Style
{
    background-color: #313642;
    height: 75px;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
    border-width: 0.1px;
    border-style: solid;
    border-color:darkcyan;
    border-radius: 5px;
    cursor: pointer;
    
}

.roomButton-Style-select
{
    background-color: lightblue;
    height: 75px;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: black;
    border-width: 0.1px;
    border-style: solid;
    border-color:darkcyan;
    border-radius: 5px;
    cursor: pointer;
    
}

.projName-Style
{
    background-color: #313642;
    height: 75px;
    text-align: center;
    padding: 10px;
    border-width: 0.1px;
    border-style: solid;
    border-color:black;
}

.navBarButton-Style
{
    background-color: #3f4454;
    width:100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    
}

.navBarButton-Style-select
{
    background-color: lightblue;
    width:100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: black;
    margin-top: 10px;
    cursor: pointer;
    
}

.subtaskButton-Style
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3b3e4a;
    width: 240px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.p-progressbar {
    background-color: purple;
    display: block;
}

.deadline-Style
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#f61302;
    text-align: center;
    color: floralwhite;
    width: 80px;
    /* width: 100px; */
    height: 30px;
    border-radius: 7px;
    font-size: small;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    font-weight: 400;
    /* align-self: flex-start; */
}

a {
    text-decoration: none;
    /* cursor: pointer; */
}



.taskName-Style
{
    text-align: center;
    color: floralwhite;
    /* width: 240px;
    height: 30px; */
    height: 10%;
    margin-top: 10px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



.taskContainer-Style
{
    display: flex;
    background-color:#23262d;
    /* box-shadow: 1px 1px 1px 1px #979797; */
    border-radius: 10px;
    flex-direction: column;
  /*  justify-content: center; */
    align-items: center;
   /* border-style: solid;
    border-color: black;
    border-width: 0.5px; */
    text-align: center;
    color: floralwhite;
    height: 500px;
    width: 300px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
}
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: 60vh;   /*fix later */
    width: 100%;
    color: white;
    font-size: 20px;
}

.subtasks {

    height: 60%;

}
.subtask-update-text {
    font-size: 18px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.addMemberToTaskButton {
    justify-content: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subtask-users-container {
    border-radius: 30px;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: #23262d;
    font-weight: 500;
}

.subtaskPage-Style
{
    position: relative;
    display: flex;
    background-color: #3b3e4a;
    flex-direction: column;
    align-self: center;
    width: 980px;
    text-align: left;
    color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.subtask-name {
    font-size: 30px;
    margin: 0px;
}

.subtask-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtask-update {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

}
.subtask-update-user {
    display: flex;
    flex-direction: column;
}
.subtask-update-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtask-update-time {
    /* background-color: purple; */
    text-align: right;
}

.taskPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskPage-Style
{
    display: flex;
    flex-direction: column;
    background-color: #23262d;
    text-align: left;
    color: white;
    margin-top: 20px;
    width: 1080px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.subtask-task-page {
    align-self: center;
    background-color: purple;
}

.task-page-description {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.addUserToTaskButton
{
    width: 10%;
}






