.page-Style
{
  display: flex;
  background-color: #282c34;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.header-Style
{
    display: flex;
    background-color: #1a1d24;
    height: 50px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: space-around;
    flex-grow : 1
}

.button-Style
{
    background-color: #18a0fb;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.bottom-Style
{
    display: flex;
    background-color: #282c34;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 50;
}

.project-Style
{
    display: flex;
    background-color: #495464;
    /*flex-grow: 0.3;*/
    flex-basis: 80px;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 20px;
}

.rooms-Style
{
    display: flex;
    background-color: #313642;
    /*flex-grow: 1.3;*/
    flex-basis: 150px;
    border-style: solid;
    border-width: 0.1px;
    border-color: black;
    flex-direction: column;
    text-align: center;
    color: white;
}

.taskWork-Style
{
    display: flex;
    background-color: #495464;
    flex-direction: column;
   /* flex-grow: 10;*/
   flex-basis: 1200px;
}

.navBar-Style
{
    display: flex;
    flex-direction: row;
    background-color: #313642;
    flex-basis: 50px;
    justify-content: space-around;
}

.work-Style{
    display: flex;
    background-color: #495464;
    flex-basis: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.projectButton-Style
{
    background-color: #aaafba;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.projectAddButton-Style
{
    background-color: #aaafba;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    height: 50px;
    width: 50px;
}

.roomButton-Style
{
    background-color: #313642;
    height: 75px;
    justify-content: center;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgb(32, 32, 32);
}

.projName-Style
{
    background-color: #313642;
    height: 75px;
    text-align: center;
    padding-top: 30px;
    border-width: 0.1px;
    border-style: solid;
    border-color:black;
}

.navBarButton-Style
{
    background-color: #3f4454;
    width:100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.subtaskButton-Style
{
    background-color: #3b3e4a;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
}

.deadline-Style
{
    background-color:#f61302;
    text-align: center;
    color: floralwhite;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    font-size: small;
  /*  margin-top: 10px; */
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.taskName-Style
{
    text-align: center;
    color: floralwhite;
    width: 150px;
    height: 20px;
    margin-top: 10px;
}

.taskContainer-Style
{
    display: flex;
    background-color:#23262d;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* border-style: solid;
    border-color: black;
    border-width: 0.5px; */
    text-align: center;
    color: floralwhite;
    height: 500px;
    width: 300px;
    overflow: auto;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.subtaskPage-Style
{
    display: flex;
    background-color: #3b3e4a;
    flex-direction: column;
    height: 150px;
    width: 980px;
    text-align: left;
    color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.taskPage-Style
{
    display: flex;
    flex-direction: column;
    background-color: #23262d;
    text-align: left;
    color: white;
    margin-top: 20px;
    width: 1080px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
