.p-dialog .p-dialog-footer{
    background: #2b323c;
    color: white;
}
.p-dialog .p-dialog-content{
    background: #2b323c;
    color: white;
}
.p-dialog .p-dialog-header{
    background: #2b323c;
    color: white;
}

.workspace-form .p-button {
    font-size: 10px;
    float: right;
}

button {
    border: none
}