.p-dialog .p-dialog-footer{
    background: #2b323c;
    color: white;
}
.p-dialog .p-dialog-content{
    background: #2b323c;
    color: white;
}
.p-dialog .p-dialog-header{
    background: #2b323c;
    color: white;
}

/* .p-multiselect-label {
    color: black
} */

.workspace-form .p-button {
    font-size: 10px;
    float: right;
}

.work-Style .p-button {
    float:  right;
}

.createTask {
    padding: 20px;
}

button {
    border: none
}

.taskPage-Style h3{
    padding: 0;
    margin: 0;

}

.signup-card{
    width: 100%;
}


.signup-card .p-inputtext, .signup-card .p-password, .signup-card Button{
    width: 100%;
    margin-bottom: 10px;
}

.signup-card h2{
    padding : 0 0 30px 0;
    margin : 1px;
}

.signup-card h5{
    padding : 1px;
    margin : 1px;
}


.signup-page{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: #495464;
}

.signup-card a{
    color: #00AFF4;
    text-decoration: none;
    padding: 0;
    font-size: small;
}

.err {
    color: #ff3c3c;
}

.chat-page {
    height: 100%;
    overflow: hidden;
}

.chat-message-area {
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.chat-message-groups {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

.chat-input-area {
    height: 8%;
    width: 90%;
    margin: 0 5% 0 5%;
}

.chat-message-box {
    width: 40%;
    min-height: 50px;
    background-color: #2b323c;
    color: rgba(255, 255, 255, 1);
    padding: 15px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 20px;
}

.chat-username {
    color: rgb(230, 230, 230);
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 4px;
}

.chat-message-container {
    margin-top: 5px;
}

.files-page {
    height: 100%;
    overflow: hidden; 
}

.files-groups-list{
    height: 60%;
    overflow-y: scroll;
}

.files-upload-area{
    height: 20%;
    background-color:#2a323d;
}

.files-file {
    float: left;
    padding-right: 20px;
}

.files-files-list{
    overflow: overlay;
}
/* .chat-container {
    overflow-y: scroll;
    overflow-x: hidden;

} */

.files-anchor {
    text-decoration: inherit;
    color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b323c; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

