.p-dialog .p-dialog-footer{
    background: #2b323c;
    color: white;
}
.p-dialog .p-dialog-content{
    background: #2b323c;
    color: white;
}
.p-dialog .p-dialog-header{
    background: #2b323c;
    color: white;
}

.p-multiselect-label {
    color: black
}

.workspace-form .p-button {
    font-size: 10px;
    float: right;
}

.work-Style .p-button {
    float:  right;
}

.createTask {
    padding: 20px;
}

button {
    border: none
}

.taskPage-Style h3{
    padding: 0;
    margin: 0;

}